nbprojec*
sites/default/settings.php
sites/default/file*
!sites/default/files/.htaccess
sites/all/modules/contri*
!sites/all/modules/contrib/README.txt
sites/all/modules/theme*
!sites/all/modules/themes/README.txt
