/* layout.css, v2.2 2009/2/15 
 *
 * ZERO POINT theme, for Drupal 6
 * Dr. Florian Radut, florian[at]radut.net
 */

.page {
	padding: 0 520px; /* the critical side padding that sets the natural min-width! */
}
.sizer {
	margin: 0 auto;
	padding: 0;
	text-align: left;
	width: 40%; /* this value controls liquidity; 0% = full rigid, 100% = full liquid */
	max-width: 160px; /* IE7 supports this property, doesn't need the fancy MS expression */
}
.expander {
	margin: 0 -520px; /* neg side margin values should be < or = to side body padding and 1/2 of min-width below */
	min-width: 1024px; /* This prevents Safari from losing the negative margins in narrow windows */
	position: relative; /* makes .expander visible outside .sizer in IEwin */
	min-height: 1px; /* This harmless declaration gives Layout to IE7, which can't read the star/html hack */
} /* .expander must receive "hasLayout" for IEwin bug fixing; applied in ie6.css and ie7.css */

#above {
	padding: 0 20px;
	min-height: 20px;
}
#wrapper {
	position: relative;
	width: 100%; /* helps IE get the child percentages right */
}


/* MAIN PAGE STRUCTURE */
/* To modify the side column widths and the col divider widths, the values that are marked 
"Critical Left (Right) divider dimension value = cLddv (cRddv)" and 
"Critical Left (Right) col width value = cLcwv (cRcwv) also refer to the desired mod MUST be changed as a group. */

body.layout-left-main-right .outer {
	margin-left: 204px;			/*** cLcwv ***/
	margin-right: 278px;			/*** cLcwv ***/
}
body.layout-left-main .outer {
	margin-left: 294px;			/*** cLcwv ***/
}
body.layout-main-right .outer {
	margin-right: 344px;			/*** cLcwv ***/
}
.float-wrap {
	float: left;
	width: 100%;
}
.colmain {
	float: right;
	width: 100%;
}
.colleft {
	float: left;
	position: relative;
	width: 204px;			/*** cLcwv ***/
	margin-left: -204px;		/*** cLcwv ***/ /*** cLddv ***/
}
.colright {
	float: right;
	position: relative;
	width: 278px;		/*** cRcwv ***/
	margin-right: -278px;		/*** cRcwv ***/ /*** cRddv ***/
}
body.layout-left-main .colleft {
	width: 294px;			/*** cLcwv ***/
	margin-left: -294px;		/*** cLcwv ***/ /*** cLddv ***/
}
body.layout-main-right .colright {
	width: 344px;		/*** cRcwv ***/
	margin-right: -344px;		/*** cRcwv ***/ /*** cRddv ***/
}
#sidebar-left, #sidebar-right {
	position: relative;
	margin: 0;
}
#sidebar-left {
	width: 184px;
}
#sidebar-right {
	width: 258px;
}
body.layout-left-main #sidebar-left {
	width: 274px;
}
body.layout-main-right #sidebar-right {
	width: 324px;
}