/* code for admin interface colors -- to be used if body text is a light color */
<<<<<<< style.css
/*$Id: style.css,v 1.11 2009/06/23 18:03:38 jrglasgow Exp $ */
div.admin {
  padding:0;
}

div.admin-panel h3 {
  background-color:#999 !important;
}

=======
/*$Id: style.css,v 1.11 2009/06/23 18:03:38 jrglasgow Exp $ */
>>>>>>> 1.7
tr.odd, tr.even,
tr.odd a, tr.even a {
  color:black;
}

.primary li a {
  color:black;
}

.secondary li a {
  color:inherit;
}

td.active {
  background-color:inherit;
}

.form-item label {
  /*color:white;*/
}

.preview {
  color:black;
}

/* layout */

body {
  margin: 0;
  padding: 0;
  min-width: 750px;      
}

#top-container {
  background:#020202 url('images/top_gradient_dark.jpg') repeat-x;
  min-height:80px;
  padding:0 12px;
}

#page {
   margin: 0 auto;
   width: 95%;
   background:#fff;
}

#page {
   background: url('images/page_bg_left.png') repeat-y top left;
}

#page #shadow-right {
  background: url('images/page_bg_right.png') repeat-y top right;
  padding:0 11px;
}

#page #page-bg {
  background-color:#fff;
}

#banner {
  background-color:#1c1c1c;
}

#banner p {
  padding-bottom:0.5em;
  padding-top:0.5em;
  margin:0 auto;
}

#banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header, #content {
  width: 100%;
}

#header a:link,
#header a:visited,
#header a:hover {
  color:#fff;
}

.sections {
  width: 100%;
  padding: 0;
}

.section {
  float: left;
}

#section1 {
  margin: 4px 0;
  padding:0 8px;
}

#section1 .block,
#section2 .block {
  padding: 8px;
}

.section.width99 {
  width: 100%;
}

.section.width49 {
  width: 50%;
}

.section.width33 {
  width: 33%;
}

.section.width24 {
  width: 25%;
}

.sections {
  width: 100%;
}

#middlecontainer {
  margin: 0 auto;
}

#sidebar-left, #sidebar-right {
  width: 210px;
  float:left;
  z-index: 2;
  position: relative;
}
#sidebar-left .block, #sidebar-right .block {
  padding:8px 16px;
  margin-bottom:5px;
  /*border: 1px solid #ccc;*/
}

#main {
  float: left;
  width:100%;
}

body.sidebar-left #main {
  margin-left: -210px;
  margin-right: 0;
}

body.sidebar-right #main {
  margin-right: -210px;
  margin-left: 0;
}

body.sidebars #main {
  margin-left: -210px;
  margin-right: -210px;
}

body.sidebar-left #squeeze {
  margin-left: 210px;
  margin-right: 0;
  padding-left: 4px;
}

body.sidebar-right #squeeze {
  margin-right: 210px;
  margin-left: 0;
  padding-right: 4px;
}

body.sidebars #squeeze {
  margin-left: 210px;
  margin-right: 210px;
  padding: 0 4px;
}

body.sidebars #sidebar-left {
  margin-right:0px;
}

#squeeze-content {
  padding-bottom: 15px;
}

#inner-content {
  padding: 4px 16px;
}

.node {
  margin: 0.5em 0 2em 0;
}

.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}

/* typography */

body {
  font-size: 82%;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  line-height: 145%;
  color: #333333;
  background-color: #fff;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h4 {
  padding-bottom: 5px;
  margin: 10px 0;
  line-height:125%;
}

h1 {
  font-size: 175%;
}

h2 {
  font-size: 125%;
}

h3 { 
   font-size: 110%;
}

h4 {
  font-size:  100%;
}

h5, h6 {
  font-size: 90%;
}

#content-top h2, #content-top h2.title,
#content-bottom h2, #content-bottom h2.title {
  font-size:125%;
}

#main h2.title {
   font-size: 150%;
}

.title, .title a {
  font-weight: bold;
  color: #8E6126;
  margin: 0 auto;
}
.submitted {
  color: #8E6126;
  font-size: 0.8em;
}
.links {
  color: #8E6126;
}
.links a {
  font-weight: bold;
}

.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}

.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}

/* links */

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#main .block h2.title {
  font-size: 125%;
}

/* elements */

tr.odd td, tr.even td {
  padding: 0.3em;
}

tr.odd {
  background: #eee;
}

tr.even {
  background: #ccc;
}

tbody {
  border: none;
}

fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}

table {
  font-size: 1em;
}

.form-item label {
  font-size: 1em;
  color: #222;
}

.item-list .title {
  font-size: 1em;
  color: #222;
}

.item-list ul li {
margin:0pt 0pt 0.25em 0;
}

.links {
  margin-bottom: 0;
}

.comment .links {
  margin-bottom: 0;
}

#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}

.clr {
  clear: both;
}

/* site logo, name, slogan */

#logo {
  vertical-align: middle;
  border: 0;
}

#logo img {
  float: left;
  border: 0;
}

#top-center {
  background: #1C1C1C url('images/top_gradient_light.jpg') repeat-x;
  margin:0 auto;
  min-height:80px;
}

#logo-title {
padding:22px;
float:left;
}

#name-and-slogan {
  float: left;
  margin: 10px 22px;
  display:inline;
}

.site-name {
  margin: 0;
  padding: 0;
  font-size: 2em;
}

.site-name a:link, .site-name a:visited {
  color: #fff;
}

.site-name a:hover {
  text-decoration: underline;
}

.site-slogan {
  font-size: 1.1em;
  color: #eee;
  display: block;
  margin: 0;
  padding: 0;
  font-style: italic;
}

/* search */

#search-theme-form {
  float: right;
  padding: 0.5em 0.5em 0 0.5em;
}

#search .form-text, #search .form-submit {
  /*border: 1px solid #369;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;*/
}

#search .form-text {
  width: 16em;
  /*padding: 0 0.5em;*/
}

#edit-search-theme-form-1-wrapper label {
  display: none;
}

/* primary links */

#primarymenu {
  padding: 10px;
  text-align: right;
  float:right;
}

#primarymenu li {
  border-left:1px solid #fff;
  padding:0pt 0.5em 0pt 0.7em;
}

#primarymenu li.first {
  border:medium none;
}


.primary-links {
  font-size: 1.0em;
  color: #fff;
}

#secondary-links {
  background-color:#1F1F1F;
  padding:20px 0;
  text-align:center;
}

#secondary-links li.first {
  border-left:none;
}

.primary-links a,
.primary-links a:link, 
.primary-links a:visited, 
.primary-links a:hover, 
.primary-links .links {
  font-weight: bold;
  color: #fff;
}

.primary-links ul.menu {
  text-align: right;
}

.primary-links li {
  display:inline;
  list-style-type:none;
  padding:0pt 0.5em;
}

.primary-links li.first {
  border: none;
}

#primarymenu a.active, #primarymenu a.active {
  color:#fff;
}
#primarymenu a {
  color:#fff;
  font-weight:normal;
  font-size:120%;
}

/* fix for white bar on homepage above suckerfish in some browsers */

#suckerfishmenu .content{margin:0px;}

/* mission statement, breadcrumbs, messages, etc. */

#mission {
  padding: 1.5em 2em;
  color: #fff;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}

.breadcrumb {
  margin-bottom: .5em;
}

div#breadcrumb {
  clear: both;
  font-size: 80%;
  padding-top: 3px;
  margin-left: 15px;
}

.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}

#header .block {
  margin:0px 22px;
  color:#3f3f3f;
}

/* footer */

#footer {
  background-color: #1f1f1f;
  font-size: 0.8em;
  text-align: center;
  clear:left;
}

#footer-region {
  text-align: center;
}

#footer-message {
  text-align: center;
  margin:0;
  font-size: 90%;
  color:gray;
}
  
#footer-message a {
  font-weight:bold;
}
#footer .content {
   margin:0px;
}

#footer .content p {
   margin-bottom:0px;
   margin-top:0px;
}

.node .taxonomy {
  font-size: 0.8em;
  padding-left: 1.5em;
}
.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #8E6126;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}

.poll .title {
  color:#000000;
}
